@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&display=swap");
* {
  box-sizing: border-box;
}

body {
  background-color: #F6F8FC;
  font-family: "Nunito Sans";
}

header {
  background-color: white;
  color: black;
  box-shadow: 4px 4px 9px 1px rgba(133, 133, 133, 0.25);
}
header .navbar .container-fluid {
  width: 78%;
  color: black;
}
header .navbar .container-fluid .navbar-brand img {
  width: 90px;
}
header .navbar .container-fluid .collapse ul li a {
  color: black;
  text-decoration: none;
}
header .navbar .container-fluid .collapse ul li .logout {
  background-color: #2D9CDB;
  color: white;
}
header .navbar .container-fluid .collapse ul li:not(:last-child) {
  margin-right: 30px;
}

main .container {
  width: 580px;
  padding-top: 150px;
}
main .container .card {
  padding: 40px;
  width: 100%;
  border: none;
  border-radius: 20px;
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2);
}
main .container .card .up {
  margin-bottom: 20px;
}
main .container .card .up .total {
  border-bottom: 1px solid #b1aeae;
  margin-bottom: 7px;
}
main .container .card .up .total .d-flex .harga {
  color: #2D9CDB;
}
main .container .card .up .waktu .d-flex .waktu-isi {
  text-align: right;
}
main .container .card .up .waktu .d-flex .waktu-isi h6 {
  padding: 0;
  margin: 0;
  color: #2D9CDB;
}
main .container .card .up .waktu .d-flex .waktu-isi label {
  font-size: 12px;
  color: #555555;
  padding: 0;
  margin: 0;
}
main .container .card .center {
  margin-bottom: 50px;
}
main .container .card .center img {
  width: 100px;
}
main .container .card .center .label {
  font-size: 14px;
  color: #555555;
  margin: 0;
  margin-left: 40px;
}
main .container .card .center .kode {
  color: #2D9CDB;
  margin: 0;
  margin-left: 40px;
}
main .container .card .btn {
  color: white;
  background-color: #2D9CDB;
  width: 100%;
}

@media screen and (max-width: 576px) {
  main .container {
    width: 90%;
    padding-top: 150px;
  }
  main .container .card {
    padding: 40px;
    width: 100%;
    border: none;
    border-radius: 20px;
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2);
  }
  main .container .card .up {
    margin-bottom: 20px;
  }
  main .container .card .up .total {
    border-bottom: 1px solid #b1aeae;
    margin-bottom: 7px;
  }
  main .container .card .up .total .d-flex .harga {
    color: #2D9CDB;
  }
  main .container .card .up .waktu .d-flex .waktu-isi {
    text-align: right;
  }
  main .container .card .up .waktu .d-flex .waktu-isi h6 {
    font-size: 15px;
    padding: 0;
    margin: 0;
    color: #2D9CDB;
  }
  main .container .card .up .waktu .d-flex .waktu-isi label {
    font-size: 11.5px;
    color: #555555;
    padding: 0;
    margin: 0;
  }
  main .container .card .center {
    margin-bottom: 50px;
  }
  main .container .card .center img {
    width: 100px;
  }
  main .container .card .center .label {
    font-size: 14px;
    color: #555555;
    margin: 0;
    margin-left: 40px;
  }
  main .container .card .center .kode {
    color: #2D9CDB;
    margin: 0;
    margin-left: 40px;
  }
  main .container .card .btn {
    color: white;
    background-color: #2D9CDB;
    width: 100%;
  }
}
footer img {
  margin-bottom: -1px;
}
footer .footer {
  background-color: #2D9CDB;
}
footer .footer .container {
  width: 78%;
}
footer .footer .container .wrap1 .col {
  display: block;
}
footer .footer .container .wrap1 .col .title h1 {
  font-size: 25px;
  color: white;
}
footer .footer .container .wrap1 .col ul li {
  display: flex;
  list-style-type: none;
  align-items: center;
}
footer .footer .container .wrap1 .col ul li p {
  margin-bottom: 2px;
  font-weight: 300;
  font-size: 15px;
  color: white;
}
footer .footer .container .wrap1 .col ul li svg {
  margin-right: 7px;
}
footer .footer .container .wrap1 .col form {
  margin-bottom: 120px;
}
footer .footer .container .wrap1 .col form div {
  margin-bottom: 10px;
}
footer .footer .container .wrap1 .col form div label {
  color: white;
}
footer .footer .container .wrap1 .col form .btn {
  float: right;
  margin-top: 25px;
  border-radius: 100px;
  background-color: #555555;
  color: white;
  padding: 5px 54px;
}

.copyright {
  background-color: #555555;
}
.copyright p {
  text-align: center;
  padding: 20px 0px;
  margin-bottom: 0;
  color: white;
}