body {
  background-color: #f6f8fc;
}

main section .container .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

main section .container .grid .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section .container .grid .left .isi h1 {
  font-weight: 800;
  font-size: 40px;
  line-height: 54.56px;
  color: #333333, 100%;
}

main section .container .grid .left .isi p {
  margin-top: 20px;
  font-size: 15px;
  line-height: 25px;
  color: #4F4F4F;
}

main section .container .grid .right img {
  width: 424px;
}

main #dr {
  height: 550px;
}

main #dr .left img {
  position: absolute;
  width: 950px;
  height: 771px;
  top: 475px;
  left: -75px;
}

main #dr .right {
  margin-left: 625px;
}

main #dr .right .wrapp h1 {
  margin-top: 300px;
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 55px;
  color: #333333, 100%;
}

main #dr .right .wrapp p {
  font-size: 15px;
  line-height: 25px;
  color: #4F4F4F;
}

main #artikel .container .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main #artikel .container .top h1 {
  font-weight: bold;
  font-size: 35px;
  color: #333333, 100%;
}

main #artikel .container .tagar {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main #artikel .container .tagar h2 {
  font-size: 17px;
  padding: 6px 31px;
  border: 1px solid #2d9cdb;
  border-radius: 100px;
  color: #2d9cdb;
  cursor: pointer;
}

main #artikel .container .tagar h2:nth-child(1) {
  background-color: #2d9cdb;
  color: white;
  margin-right: 11px;
}

main #artikel .container .list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 289px;
      grid-template-rows: 289px;
  -webkit-column-gap: 25px;
          column-gap: 25px;
  row-gap: 33px;
  margin-top: 40px;
}

main #artikel .container .list .card1:hover {
  -webkit-box-shadow: 4px 4px 9px 1px rgba(255, 255, 255, 0.25);
          box-shadow: 4px 4px 9px 1px rgba(255, 255, 255, 0.25);
  -webkit-transition: all ease 1s;
  transition: all ease 1s;
}

main #artikel .container .list .card1 {
  -webkit-transition: all ease 1s;
  transition: all ease 1s;
  -webkit-box-shadow: 4px 4px 9px 1px rgba(133, 133, 133, 0.25);
          box-shadow: 4px 4px 9px 1px rgba(133, 133, 133, 0.25);
  border-radius: 5px;
  cursor: pointer;
}

main #artikel .container .list .card1 img {
  height: 195px;
  width: 100%;
}

main #artikel .container .list .card1 .title {
  padding-top: 19px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 30px;
}

main #artikel .container .list .card1 .title p {
  line-height: 20px;
  color: #4e4e4e;
}

main #fitur {
  padding-top: 133px;
}

main #fitur .container .judul {
  margin-bottom: 23px;
}

main #fitur .container .judul h1 {
  font-size: 35px;
  color: #333333, 100%;
  font-weight: bold;
}

main #fitur .container .list-row {
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 25px;
          column-gap: 25px;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

main #fitur .container .list-row .card1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
  -webkit-box-shadow: 4px 4px 9px 1px rgba(133, 133, 133, 0.25);
          box-shadow: 4px 4px 9px 1px rgba(133, 133, 133, 0.25);
}

main #fitur .container .list-row .card1 .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 24px;
  padding-top: 33px;
  padding-bottom: 25px;
}

main #fitur .container .list-row .card1 .wrapper .content {
  margin-left: 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #fitur .container .list-row .card1 .wrapper .content .wrap {
  display: block;
}

main #fitur .container .list-row .card1 .wrapper .content .wrap .title h1 {
  font-size: 15px;
  font-style: normal;
  color: #333333, 100%;
}

main #fitur .container .list-row .card1 .wrapper .content .wrap .isi p {
  font-weight: 300;
  font-size: 9px;
  line-height: 12px;
  color: #555555, 100%;
  line-height: 12px;
}

main footer img {
  margin-bottom: -1px;
}

main footer .footer {
  background-color: #2d9cdb;
}

main footer .footer .container .wrap1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

main footer .footer .container .wrap1 .row {
  display: block;
}

main footer .footer .container .wrap1 .row .title h1 {
  font-size: 25px;
  color: white;
}

main footer .footer .container .wrap1 .row ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

main footer .footer .container .wrap1 .row ul li p {
  margin-bottom: 2px;
  font-weight: 300;
  font-size: 15px;
  color: white;
}

main footer .footer .container .wrap1 .row ul li img {
  margin-right: 7px;
}

main footer .footer .container .wrap1 .row form {
  margin-bottom: 120px;
}

main footer .footer .container .wrap1 .row form div {
  margin-bottom: 10px;
}

main footer .footer .container .wrap1 .row form div label {
  color: white;
}

main footer .footer .container .wrap1 .row form .btn {
  float: right;
  margin-top: 25px;
  border-radius: 100px;
  background-color: #555555;
  color: white;
  padding: 5px 54px;
}

main .copyright {
  background-color: #555555;
}

main .copyright p {
  text-align: center;
  padding: 20px 0px;
  margin-bottom: 0;
  color: white;
}
/*# sourceMappingURL=main.css.map */