@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600;900&display=swap");
* {
  box-sizing: border-box;
}

body {
  background-color: #F6F8FC;
  font-family: "Nunito Sans";
}

header {
  background-color: white;
  color: black;
  box-shadow: 4px 4px 9px 1px rgba(133, 133, 133, 0.25);
}
header .navbar .container-fluid {
  width: 78%;
  color: black;
}
header .navbar .container-fluid .navbar-brand img {
  width: 90px;
}
header .navbar .container-fluid .collapse ul li a {
  color: black;
  text-decoration: none;
}
header .navbar .container-fluid .collapse ul li .logout {
  background-color: #2D9CDB;
  color: white;
}
header .navbar .container-fluid .collapse ul li:not(:last-child) {
  margin-right: 30px;
}

main {
  padding-top: 100px;
  padding-bottom: 50px;
}
main .container {
  width: 78%;
}
main .container section form .search {
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  background-color: #dddbdb;
}
main .container section form .search:focus {
  outline: none;
  box-shadow: none;
}
main .container section form .btn-search {
  border: 1px solid #2D9CDB;
  background-color: #2D9CDB;
  color: white;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}
main .container section form .btn-search:hover {
  background-color: rgba(255, 255, 255, 0);
  color: #2D9CDB;
}
main .container .list .row .col .card {
  padding: 20px;
  padding-bottom: 12px;
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2);
}
main .container .list .row .col .card .d-flex .info {
  margin-left: 30px;
  padding-top: 15px;
}
main .container .list .row .col .card .d-flex .info ul {
  list-style-type: none;
  padding: 0;
}
main .container .list .row .col .card .card-body {
  padding: 0px;
  display: flex;
}
main .container .list .row .col .card .card-body ul {
  list-style-type: none;
  display: flex;
  padding-left: 0;
  margin-top: 15px;
}
main .container .list .row .col .card .card-body ul li {
  margin-right: 40px;
}
main .container .list .row .col .card .card-body ul li .d-flex p {
  margin-left: 7px;
  margin-bottom: 0;
}
main .container .list .row .col .card .card-body button {
  margin-top: 8px;
}
main .container .list .row .col .card .card-body .chat {
  background-color: #2D9CDB;
  color: white;
  padding-left: 35px;
  padding-right: 35px;
  height: 40px;
}
main .container .list .row .col .card .card-body .modal .modal-dialog .modal-content .modal-header {
  border: none;
}
main .container .list .row .col .card .card-body .modal .modal-dialog .modal-content .modal-body .container-fluid {
  width: 90%;
}
main .container .list .row .col .card .card-body .modal .modal-dialog .modal-content .modal-body .container-fluid .info img {
  width: 95px;
  border-radius: 100%;
}
main .container .list .row .col .card .card-body .modal .modal-dialog .modal-content .modal-body .container-fluid .info .text {
  margin-left: 20px;
}
main .container .list .row .col .card .card-body .modal .modal-dialog .modal-content .modal-body .container-fluid .info .text h6 {
  margin: 0;
  color: black;
}
main .container .list .row .col .card .card-body .modal .modal-dialog .modal-content .modal-body .container-fluid .info .text p {
  margin: 0;
  font-size: 14px;
  color: #555555;
}
main .container .list .row .col .card .card-body .modal .modal-dialog .modal-content .modal-body .container-fluid .promo h6 {
  color: black;
}
main .container .list .row .col .card .card-body .modal .modal-dialog .modal-content .modal-body .container-fluid .ringkasan h6 {
  color: black;
}
main .container .list .row .col .card .card-body .modal .modal-dialog .modal-content .modal-body .container-fluid .ringkasan .biaya {
  margin-bottom: 10px;
}
main .container .list .row .col .card .card-body .modal .modal-dialog .modal-content .modal-body .container-fluid .ringkasan .biaya p {
  color: #555555;
  font-size: 14px;
  margin: 0;
}
main .container .list .row .col .card .card-body .modal .modal-dialog .modal-content .modal-body .container-fluid .ringkasan .bayar h6 {
  color: black;
}
main .container .list .row .col .card .card-body .modal .modal-dialog .modal-content .modal-body .container-fluid .metode {
  padding-bottom: 30px;
  border-bottom: 1px solid #c2c2c2;
}
main .container .list .row .col .card .card-body .modal .modal-dialog .modal-content .modal-body .container-fluid .metode h6 {
  color: black;
}
main .container .list .row .col .card .card-body .modal .modal-dialog .modal-content .modal-body .container-fluid .btn-bayar {
  width: 100%;
  background-color: #2D9CDB;
  color: white;
}

@media screen and (max-width: 576px) {
  main {
    padding-top: 100px;
    padding-bottom: 50px;
  }
  main .container {
    width: 78%;
  }
  main .container section form .search {
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    background-color: #dddbdb;
  }
  main .container section form .search:focus {
    outline: none;
    box-shadow: none;
  }
  main .container section form .btn-search {
    border: 1px solid #2D9CDB;
    background-color: #2D9CDB;
    color: white;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
  }
  main .container section form .btn-search:hover {
    background-color: rgba(255, 255, 255, 0);
    color: #2D9CDB;
  }
  main .container .list .row .col .card {
    padding: 20px;
    padding-bottom: 12px;
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2);
  }
  main .container .list .row .col .card .d-flex .info {
    margin-left: 30px;
    padding-top: 15px;
  }
  main .container .list .row .col .card .d-flex .info ul {
    list-style-type: none;
    padding: 0;
  }
  main .container .list .row .col .card .card-body {
    padding: 0px;
    display: flex;
  }
  main .container .list .row .col .card .card-body ul {
    list-style-type: none;
    display: flex;
    padding-left: 0;
    margin-top: 15px;
  }
  main .container .list .row .col .card .card-body ul li {
    margin-right: 20px;
  }
  main .container .list .row .col .card .card-body ul li .d-flex p {
    margin-left: 7px;
    margin-bottom: 0;
  }
  main .container .list .row .col .card .card-body button {
    margin-top: 8px;
  }
  main .container .list .row .col .card .card-body .chat {
    background-color: #2D9CDB;
    color: white;
    padding-left: 25px;
    padding-right: 25px;
    height: 40px;
  }
  main .container .list .row .col .card .card-body .modal .modal-dialog .modal-content .modal-header {
    border: none;
  }
  main .container .list .row .col .card .card-body .modal .modal-dialog .modal-content .modal-body .container-fluid {
    width: 90%;
  }
  main .container .list .row .col .card .card-body .modal .modal-dialog .modal-content .modal-body .container-fluid .info img {
    width: 95px;
    border-radius: 100%;
  }
  main .container .list .row .col .card .card-body .modal .modal-dialog .modal-content .modal-body .container-fluid .info .text {
    margin-left: 20px;
  }
  main .container .list .row .col .card .card-body .modal .modal-dialog .modal-content .modal-body .container-fluid .info .text h6 {
    margin: 0;
    color: black;
  }
  main .container .list .row .col .card .card-body .modal .modal-dialog .modal-content .modal-body .container-fluid .info .text p {
    margin: 0;
    font-size: 14px;
    color: #555555;
  }
  main .container .list .row .col .card .card-body .modal .modal-dialog .modal-content .modal-body .container-fluid .promo h6 {
    color: black;
  }
  main .container .list .row .col .card .card-body .modal .modal-dialog .modal-content .modal-body .container-fluid .ringkasan h6 {
    color: black;
  }
  main .container .list .row .col .card .card-body .modal .modal-dialog .modal-content .modal-body .container-fluid .ringkasan .biaya {
    margin-bottom: 10px;
  }
  main .container .list .row .col .card .card-body .modal .modal-dialog .modal-content .modal-body .container-fluid .ringkasan .biaya p {
    color: #555555;
    font-size: 14px;
    margin: 0;
  }
  main .container .list .row .col .card .card-body .modal .modal-dialog .modal-content .modal-body .container-fluid .ringkasan .bayar h6 {
    color: black;
  }
  main .container .list .row .col .card .card-body .modal .modal-dialog .modal-content .modal-body .container-fluid .metode {
    padding-bottom: 30px;
    border-bottom: 1px solid #c2c2c2;
  }
  main .container .list .row .col .card .card-body .modal .modal-dialog .modal-content .modal-body .container-fluid .metode h6 {
    color: black;
  }
  main .container .list .row .col .card .card-body .modal .modal-dialog .modal-content .modal-body .container-fluid .btn-bayar {
    width: 100%;
    background-color: #2D9CDB;
    color: white;
  }
}
footer img {
  margin-bottom: -1px;
}
footer .footer {
  background-color: #2D9CDB;
}
footer .footer .container {
  width: 78%;
}
footer .footer .container .wrap1 .col {
  display: block;
}
footer .footer .container .wrap1 .col .title h1 {
  font-size: 25px;
  color: white;
}
footer .footer .container .wrap1 .col ul li {
  display: flex;
  list-style-type: none;
  align-items: center;
}
footer .footer .container .wrap1 .col ul li p {
  margin-bottom: 2px;
  font-weight: 300;
  font-size: 15px;
  color: white;
}
footer .footer .container .wrap1 .col ul li svg {
  margin-right: 7px;
}
footer .footer .container .wrap1 .col form {
  margin-bottom: 120px;
}
footer .footer .container .wrap1 .col form div {
  margin-bottom: 10px;
}
footer .footer .container .wrap1 .col form div label {
  color: white;
}
footer .footer .container .wrap1 .col form .btn {
  float: right;
  margin-top: 25px;
  border-radius: 100px;
  background-color: #555555;
  color: white;
  padding: 5px 54px;
}

.copyright {
  background-color: #555555;
}
.copyright p {
  text-align: center;
  padding: 20px 0px;
  margin-bottom: 0;
  color: white;
}