$background: #f6f8fc;
$primary   : #2d9cdb;
$second    : #555555;
$judul     : #333333,
100%;
$subJudul : #4F4F4F;

main {
    padding-top: 108px;

    .container {
        .wrap {
            display              : grid;
            column-gap           : 20px;
            grid-template-columns: 65% 35%;

            .content-left {
                .title {
                    h1 {
                        font-weight: 600;
                        font-size  : 35px;
                    }
                }

                img {
                    width: 100%;
                }

                .isi {
                    padding: 22px 16px;

                    p {
                        text-align: justify;
                    }

                    h4 {
                        font-weight: 600;
                        font-size  : 17px;
                    }

                    div {
                        padding-left: 20px;
                    }
                }
            }

            .content-right {
                .title {
                    h1 {
                        font-weight: 600;
                        font-size  : 35px;
                    }
                }

                .list {
                    .card1 {
                        display         : flex;
                        margin-bottom   : 10px;
                        box-shadow      : 0px 4px 9px rgba(187, 187, 187, 0.25);
                        background-color: white;

                        img {
                            width : 78px;
                            height: 69px;
                        }

                        .judul {
                            display     : flex;
                            align-items : center;
                            padding-left: 10px;

                            p {
                                margin: 0;
                            }
                        }

                    }
                }
            }
        }

        .terbaru {
            margin-top: 70px;
            .title {
                margin-bottom: 41px;
            }

            .griding {
                display              : grid;
                column-gap           : 31px;
                row-gap: 31px;
                grid-template-columns: 1fr 1fr 1fr;

                .card1 {
                    background-color: white;
                    border: 5px;
                    img {
                        width: 100%;
                    }

                    .isi {
                        padding: 16px;

                        .tag {
                            p {
                                width           : max-content;
                                padding         : 4px 16px;
                                background-color: #B6CCDA;
                                font-size       : 10px;
                                color           : #2d9cdb;
                            }
                        }

                        .judul {
                            h1 {
                                font-weight: 600;
                                font-size  : 15px;
                                line-height: 20px;
                            }
                        }

                        .content {
                            p {
                                font-size  : 10px;
                                line-height: 15px;
                                text-align : justify;
                            }
                        }
                    }
                }
            }
        }

    }
}

footer {
    img {
        margin-bottom: -1px;
    }
    .footer {
        background-color: $primary;

        .container {
            .wrap1 {
                display              : grid;
                grid-template-columns: 1fr 1fr 1fr;

                .row {
                    display: block;

                    .title {
                        h1 {
                            font-size: 25px;
                            color    : white;
                        }
                    }

                    ul {
                        li {
                            display        : flex;
                            list-style-type: none;

                            p {
                                margin-bottom: 2px;
                                font-weight  : 300;
                                font-size    : 15px;
                                color        : white;
                            }

                            img {
                                margin-right: 7px;
                            }
                        }
                    }

                    form {
                        margin-bottom: 120px;

                        div {
                            margin-bottom: 10px;

                            label {
                                color: white;
                            }
                        }

                        .btn {
                            float           : right;
                            margin-top      : 25px;
                            border-radius   : 100px;
                            background-color: $second;
                            color           : white;
                            padding         : 5px 54px;
                        }
                    }
                }
            }
        }
    }
}

.copyright {
    background-color: $second;

    p {
        text-align   : center;
        padding      : 20px 0px;
        margin-bottom: 0;
        color        : white;
    }
}