$background: #F6F8FC;
$primary: #2D9CDB;
$second: #555555;

* {
    box-sizing: border-box;
}

body {
    background-color: $background;
}

header {
    background-color: white;
    color: black;
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2);

    .container {
        width: 78%;

        .navbar {
            .container-fluid {
                color: black;

                .collapse {
                    ul {
                        li {
                            a {
                                color: black;
                                text-decoration: none;
                            }

                            .logout {
                                background-color: $primary;
                                color: white;
                            }

                            &:not(:last-child) {
                                margin-right: 30px;
                            }
                        }
                    }
                }
            }
        }
    }
}

main {
    padding-top: 50px;

    .container {
        width: 78%;

        section {
            form {
                .search {
                    border-bottom-right-radius: 0px;
                    border-top-right-radius: 0px;
                    background-color: rgb(221, 219, 219);
                }

                .btn-search {
                    border: 1px solid $primary;
                    background-color: $primary;
                    color: white;
                    border-bottom-left-radius: 0px;
                    border-top-left-radius: 0px;

                    &:hover {
                        background-color: rgba(255, 255, 255, 0);
                        color: $primary;
                    }
                }
            }
        }
    }
}