$background: #F6F8FC;
$primary: #2D9CDB;
$second: #555555;

* {
    box-sizing: border-box;
}

body {
    background-color: $background;
}

header {
    background-color: white;
    color: black;
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2);

    .container {
        width: 78%;
        .navbar {
            .container-fluid {
                color: black;
    
                .collapse {
                    ul {
                        li {
                            a {
                                color: black;
                                text-decoration: none;
                            }
    
                            .logout {
                                background-color: $primary;
                                color: white;
                            }
    
                            &:not(:last-child) {
                                margin-right: 30px;
                            }
                        }
                    }
                }
            }
        }
    }
}