@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&display=swap');

$background: #F6F8FC;
$primary: #2D9CDB;
$second: #555555;

* {
    box-sizing: border-box;
}

body {
    background-color: $background;
    font-family: 'Nunito Sans';
}

header {
    background-color: white;
    color: black;
    box-shadow: 4px 4px 9px 1px rgba(133, 133, 133, 0.25);

    .navbar {
        .container-fluid {
            width: 78%;
            color: black;

            .navbar-brand {
                img {
                    width: 90px;
                }
            }

            .collapse {
                ul {
                    li {
                        a {
                            color: black;
                            text-decoration: none;
                        }

                        &:not(:last-child) {
                            margin-right: 30px;
                        }

                        .login {
                            background-color: $primary;
                            color: white;
                        }

                        .modal {
                            .modal-dialog {
                                .modal-content {
                                    .modal-header {
                                        border: none;
                                    }

                                    .modal-body {
                                        .container-fluid {
                                            width: 90%;

                                            .logo {
                                                margin-left: 100px;

                                                img {
                                                    width: 200px;
                                                }
                                            }

                                            button {
                                                width: 100%;
                                                background-color: $primary;
                                                color: white;
                                            }

                                            p {
                                                text-align: center;
                                                font-size: 14px;

                                                a {
                                                    &:hover {
                                                        color: $primary;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

main {
    .container {
        padding-top: 150px;

        .card {
            border: none;
            width: 530px;
            margin: 0 auto;
            padding: 40px;
            box-shadow: 4px 4px 9px 1px rgba(133, 133, 133, 0.25);


            .logo {
                margin: 0 auto;
                margin-bottom: 50px;

                img {
                    width: 150px;
                }
            }

            form {
                button {
                    width: 100%;
                    background-color: $primary;
                    color: white;
                }
            }
        }
    }
}

@media screen and (max-width: 576px) {
    main {
        .container {
            padding-top: 150px;
    
            .card {
                border: none;
                width: 90%;
                margin: 0 auto;
                padding: 40px;
                box-shadow: 4px 4px 9px 1px rgba(133, 133, 133, 0.25);
    
    
                .logo {
                    margin: 0 auto;
                    margin-bottom: 50px;
    
                    img {
                        width: 150px;
                    }
                }
    
                form {
                    button {
                        width: 100%;
                        background-color: $primary;
                        color: white;
                    }
                }
            }
        }
    }
}

footer {
    img {
        margin-bottom: -1px;
    }

    .footer {
        background-color: $primary;

        .container {
            .wrap1 {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;

                .row {
                    display: block;

                    .title {
                        h1 {
                            font-size: 25px;
                            color: white;
                        }
                    }

                    ul {
                        li {
                            display: flex;
                            list-style-type: none;
                            align-items: center;

                            p {
                                margin-bottom: 2px;
                                font-weight: 300;
                                font-size: 15px;
                                color: white;
                                margin-bottom: 0px;
                            }

                            svg {
                                margin-right: 7px;
                            }
                        }
                    }

                    form {
                        margin-bottom: 120px;

                        div {
                            margin-bottom: 10px;

                            label {
                                color: white;
                            }
                        }

                        .btn {
                            float: right;
                            margin-top: 25px;
                            border-radius: 100px;
                            background-color: $second;
                            color: white;
                            padding: 5px 54px;
                        }
                    }
                }
            }
        }
    }
}

.copyright {
    background-color: $second;

    p {
        text-align: center;
        padding: 20px 0px;
        margin-bottom: 0;
        color: white;
    }
}